.main-get-alerts {
  padding-top: 120px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 53px 68px 49px 123px !important;
  width: 700px;
  height: 350px;
  background: #ecf3fe;
}

.login-input {
  width: 450px !important;
  height: 60px !important;
  background: #e7e7e7 !important;
  border-radius: 4px !important;
  color: #a3aebb;
}
