.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fcfdff !important;
  width: 100%;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 0 20px;
  height: $header-height !important;
}
