.header {
  display: flex;
  justify-content: space-between;
  background: #fcfdff !important;
  width: 100%;
  min-width: 1400px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  height: $header-height !important;
}
