.main {
  display: flex;
  flex-direction: column;
  background: #fcfdff !important;
  width: 100vw;
  max-width: $content-max-width;
  padding: 0 20px;
  margin: 150px auto 240px;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});

  @media (max-width: $content-pc-width) {
    margin: 50px auto 100px;
    padding: 0 40px;
  }

  @media (max-width: $content-tablet-width) {
    padding: 0 20px;
  }
}
