.header-mobile-navigation {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  background: $white;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  border-radius: 0.625rem;
  width: fit-content;
  padding: 15px;

  & > .link {
    text-align: center;
    line-height: 40px;
  }
}

.header-mobile-navigation-icon {
  display: none;
  font-size: 20px;
  transition: $default-transition;

  &:hover {
    color: $blue;
  }

  @media(max-width: $content-tablet-width) {
    display: flex;
  }
}