.ant-btn {
  height: 56px;
  max-width: 207px;
  min-width: 207px;
  background: $purple;
  font-weight: 500;
  color: $white;

  &:hover,
  &:focus {
    color: $purple;
    border: 1px solid $purple;
  }
}

.ant-input {
  font-size: 16px;
  border: none;
  height: 56px;
  background-color: transparent;
}

.ant-input-prefix {
  margin-right: 12px;
}

.ant-input-affix-wrapper {
  font-size: 20px;
  border: none;
  padding: 0 11px;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
}

.ant-input-affix-wrapper-focused {
  box-shadow: none;
}
