.purple-title {
  color: $purple;
}

.main-search-title {
  margin-bottom: 45px;
}

.main-search-form {
  display: flex;
}

.main-search-input {
  background-color: $blue-light;
  width: 100%;
}

@media (max-width: $content-tablet-width) {
  .main-search-form {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}
