.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;

  @media (max-width: $content-tablet-width) {
    display: none;
  }
}

.header-navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 207px;
  height: 47px;
  background: #ecf3fe;
  border-radius: 4px;
  cursor: pointer;
  color: $blue;
  font-weight: 700;
  transition: $default-transition;

  &:hover {
    color: white;
    background: #1669f8;
  }
}
