.main-alerts-wrapper {
  margin-top: 80px;
}

.main-alerts-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55px 125px 55px 70px;
  background: $blue-light;
}

.main-alerts-input {
  background: #E7E7E7;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media(max-width: $content-pc-width) {
  .main-alerts-wrapper {
    margin-top: 20px;
  }
  
  .main-alerts-form {
    padding: 40px 125px 40px 70px;
  }

  .main-alerts-input {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

@media(max-width: $content-tablet-width) {
  .main-alerts-form {
    padding: 24px 6px 24px 13px;
  }
}