.footer-info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: flex-start;
  column-gap: 100px;

  .footer-info-logo {
    display: flex;
    align-items: flex-start;
  }

  .footer-info-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: flex-start;
    row-gap: 12px;
    column-gap: 45px;

    .footer-info-links-group {
      display: grid;
      row-gap: 12px;

      & > .link {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
      }
    }

    @media(max-width: $content-pc-width) {
      .footer-info-links-group {
        & > .link {
          font-size: 16px;
        }
      }
    }

    @media(max-width: $content-tablet-width) {
      grid-template-columns: auto;
      row-gap: 6px;

      .footer-info-links-group {
        & > .link {
          font-size: 12px;
        }
      }
    }
  }

  @media(max-width: $content-pc-width) {
    column-gap: 50px;
  }

  @media(max-width: $content-tablet-width) {
    grid-template-columns: auto;
    row-gap: 24px;
    margin-bottom: 24px;
  }
}