// Start with assigning color names to specific hex values.
$white: #fcfdff !default;
$black: #000000 !default;
$gray: #1b3452 !default;
$blue: #4385f5 !default;
$purple: #cb11ab !default;
$blue-light: #ecf3fe !default;
$gray-light: #a3aebb !default;
