@import './theme';

$header-height: 70px;
$footer-height: 245px;
$content-height-offset: $header-height + $footer-height;
$content-max-width: 1440px;
$content-pc-width: 1200px;
$content-tablet-width: 768px;
$content-mobile-width: 480px;
$default-transition: all 0.2s ease;
$slider-size: 8px;
